:host {
    position: relative;
    width: 100%;
}

.code-container {
    border-radius: 8px;
}

.clipboard-container {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 1;
    display: flex;
}

.copied-text {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0d1117;
    padding: 0 8px;
}

.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    padding: 5px;
    font-size: 1.125rem;
    border: 1px solid #ffffff22;
    border-radius: 0.25rem;
    outline: none;
    background-color: rgb(58, 57, 77);

    transition: transform 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}