:host {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.logo {
    height: 100px;
}

.badge-pane {
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

section {
    align-self: start;
}