html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-size: 105%;
    color: #000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    @media only screen and (max-width: 600px) {
        padding: 20px;
    }
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-self: start;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #d1cbc4;
    border: none;
}

img {
    height: 100%;
    width: auto;
}

h3 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.1s;

    &:hover {
        transform: scale(1.05);
    }
}

p {
    color: grey;
}

* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #fcf55f;
    color: #000;
}