html {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    color: #000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    @media only screen and (max-width: 600px) {
        padding: 50px 20px;
    }
}

* {
    margin: 0;
}

::selection {
    background-color: #fcf55f;
    color: #000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c0c0c0;
}